@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+15&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Major+Mono+Display&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik&family=Salsa&family=Sora:wght@100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+15&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Major+Mono+Display&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik&family=Salsa&family=Sora:wght@100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* Variables globales */
$alineacion-texto: center;
$fondo-color: #223240;
$tipografia-uno: "Poppins";
$tipografia-dos: "Inter";
$letra-color: white;
$resolucion-alto: 700px;
$resolucion-ancho: 100%;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contenido_uno{
    padding: 10px;
    text-align: $alineacion-texto;
    background-color: $fondo-color;
    font-family: $tipografia-uno;
    color: $letra-color;
    min-height: $resolucion-alto;
    width: $resolucion-ancho;
    & ::selection{
        background-color: $letra-color;
        color: #223240;
    }

    .content_img{
        // background-color: aliceblue;
        height: $resolucion-alto;
        width: $resolucion-ancho;
        display: flex;
        padding: 20px 0px;
        gap: 10px;
    }
    .img{
        /* Contenedor con alto */
        height: auto;
        background-image: url(../img/sea-7409361_1280.jpg);
        width: $resolucion-ancho;
        background-position: $alineacion-texto;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 3px;
        transition: 1.0s;
        
        &:hover{
            transition: 1.0s;
            transform: scale(.8);
        }
    }
    .img--two{
        background-image: url(../img/diamond-beach-7566872_1280.jpg);
    }
    & .img--tree{
        background-image: url(../img/man-6656628_1280.jpg);   
    }
    & .img--four{
        background-image: url(../img/trees-8686902_1280.jpg);
    }
}
.contenido_dos{
    background-color: $fondo-color;
    color: $letra-color;
    font-family: $tipografia-dos;
    font-size: 30px;
    padding: 10px;
    min-height: $resolucion-alto;
}